@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Press+Start+2P&family=Source+Sans+Pro:wght@700&display=swap");

body {
  font-family: "Press Start 2P", cursive;
}

main {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  box-shadow: blue 20px 10px 50px;
}

.latestScore {
  padding-top: 5%;
  color: blue;
}

.highScore {
  color: blue;
}
